/* App.css or any relevant CSS file */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrollbars */
}

#root {
  width: 100%;
  height: 100%;
}

canvas {
  display: block; /* Removes extra space around the canvas */
  width: 100%;
  height: 100%;
}
